@page
@model MovieApp.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-3">Overview</h1>

<div>
    <a asp-page="Create" class="btn btn-primary mb-1">Add a movie</a>
    <form class="float-right">
        <p>
            <select asp-for="MovieGenre" asp-items="Model.Genres">
                <option value="">All</option>
            </select>
            Title: <input type="text" asp-for="SearchString"/>
            <input type="submit" class="btn btn-outline-secondary" value="Search"/>
        </p>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="ml-5">
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.Id" class="ml-1 btn btn-outline-success">Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id" class="ml-1 btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
